<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_sass/2015/components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th></th><th></th><th></th><th></th></tr>
<tr><td><a href="about-the-site.sass" >about-the...e.sass</a>&nbsp;</td><td><a href="hint.sass" >hint.sass</a>&nbsp;</td><td><a href="post-headline.sass" >post-headline.sass</a>&nbsp;</td><td><a href="post-list.sass" >post-list.sass</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="big-button.sass" >big-button.sass</a>&nbsp;</td><td><a href="hljs.sass" >hljs.sass</a>&nbsp;</td><td><a href="post-icon.sass" >post-icon.sass</a>&nbsp;</td><td><a href="site-header.sass" >site-header.sass</a>&nbsp;</td></tr>
<tr><td><a href="brief-intro.sass" >brief-intro.sass</a>&nbsp;</td><td><a href="next-article.sass" >next-article.sass</a>&nbsp;</td><td><a href="post-index.sass" >post-index.sass</a>&nbsp;</td><td><a href="social-list.sass" >social-list.sass</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="full-image.sass" >full-image.sass</a>&nbsp;</td><td></td><td></td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 13<br>
Size of all files: 14292 KB</p>

</body>
</html>