// ==========================================================================
// Config
// Define variables, maps and fonts at this partial.
// ==========================================================================

//Enter your Web Address here for print media
$domain-name: 'www.domain-name.com';

//Text
$base__font-size: 16px;
$base__line: 24px;

//Font Stacks

//$font-url--google : abc;

// $typefaces
// Configuration of webfonts imports.
// $typefaces - {map}
// @family - {string}
// @weight - {integer} or {keyword} i.e. 800, bold
// @style - {keyword} i.e. normal, italic

//$typefaces: (
//  'FILENAME': (
//    family: 'fontname',
//    weight: 100,
//    style: normal,
//  ),
//);

$font-family--primary: 'Source Sans Pro', sans-serif;
$font-family--secondary: 'Lato', sans-serif;

//Colors
$white: #fff;
$black: #000;
$aqua-haze: #f1f5f7;
$blue-bayoux: #506a85;
$caribbean-green: #00bb9b;

//Breakpoints
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1200px;

//UI Colors
$ui-colors: (
  default: $blue-bayoux,
);

//Font size variables
$default-font-size: $base__font-size - 2px;
$small-font-size: $default-font-size - 2px;
$lg-font-size: $default-font-size + 2px;

//Heading font size vairables
$heading-line-height: 28px !default;
$head1-font-size: 78px !default;
$head2-font-size: 44px !default;
$head3-font-size: 26px !default;

//Color Usage
$primary-color: $white;
$secondary-color: $black;
$shadow-color: rgba($black, 0.2);
$color-link: $blue-bayoux;
