$grid-type: 'float';

.container {
  max-width: 1161px + 15px * 2;
  margin: 0 auto;
  padding: 10px;
  @include mq(sm) {
    padding: 15px;
  }
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.col-3 {
  width: 100%;

  @include mq(md) {
    width: 33.33%;
    float: left;
  }
}

.col-4 {
  width: 100%;

  @include mq(md) {
    width: 50%;
    float: left;
  }

  @include mq(lg) {
    width: 25%;
    float: left;
  }
}
