@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  color: #007194;
  padding: 5vh;
}

h1 {
  color: #196d80;
}

.display-center {
  display: flex;
  justify-content: center;
}

.board {
  width: 200px;
  height: 200px;
  border: 1px solid #007194;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #007194;
  user-select: none;
  margin: 20px;
}

.boxes {
  height: 60px;
  width: 60px;
  background-color: white;
  color: #278368;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.boxes:hover {
  background-color: #e7f6ff;
  cursor: pointer;
}

a {
  margin-top: 30px;
  color: #19802e;
  text-decoration: none;
  border-bottom: 1px solid #19802e;
}

a:hover {
  border: none;
}
