.gsuiAudioBlock {
  position: relative;
  display: inline-flex;
  height: var(--result-gsuiAudioBlock-height);
  width: calc(25% - var(--result-gsuiAudioBlock-marginSide) * 2);
  margin: 10px var(--result-gsuiAudioBlock-marginSide) 5px;
}
.gsuiAudioBlock .btn.play::before {
  content: "\f04b";
  border-left-radius: var(--bd-radius);
}
.gsuiAudioBlock .btn.select::before {
  content: "\f067";
  border-right-radius: var(--bd-radius);
}
.gsuiAudioBlock.selected .btn.select::before {
  content: "\f068";
}
.gsuiAudioBlock .btn::before {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: FontAwesome;
  font-size: 36px;
  border-left-radius: var(--bd-radius);
}
.gsuiAudioBlock .btn {
  display: none;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}
.gsuiAudioBlock:hover .btn {
  display: inline-block;
}
.gsuiAudioBlock:hover .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.gsuiAudioBlock:hover div:last-child {
  right: 0;
}
.gsuiAudioBlock.selected .gsuiab-head::before {
  float: right;
  font-family: FontAwesome;
  content: "\f058";
}
