#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--app-bg);
  color: var(--app-color);
  font-size: var(--app-fontSize);
  transition: background-color var(--app-transitionDuration);
}
#app.main {
  font-size: var(--app-main-fontSize);
}
#app.result {
  flex-wrap: nowrap;
}

#controls {
  display: flex;
  box-sizing: border-box;
}
#app.main #controls {
  flex: 1;
  flex-direction: column;
  height: initial;
}
#app.result #controls {
  flex-wrap: nowrap;
  height: var(--controls-result-height);
  box-shadow: var(--result-bs-top);
  z-index: 1;
}

#theme {
  padding: 0.2em;
  font-size: var(--app-fontSize);
}
#app.main #theme {
  align-self: flex-end;
}
#app.result #theme {
  order: 1;
}

#logo {
  background: no-repeat center url("../assets/icon.svg");
  filter: var(--logo-filter);
  transition: filter var(--app-transitionDuration);
  border-radius: 40%;
}
#app.main #logo {
  flex: 0.7;
  width: var(--logo-width);
  max-height: var(--logo-main-maxHeight);
  margin-top: 1em;
  align-self: center;
  background-size: contain;
}
#app.result #logo {
  width: var(--logo-result-width);
  background-size: 80%;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: filter var(--app-transitionDuration);
}
#app.main #search {
  align-items: center;
}
#app.result #search {
  flex: 1;
  overflow: hidden;
}

#search input {
  border: 0;
  border-radius: var(--search-bdRadius);
  color: var(--app-color);
  background-color: var(--search-bg);
  outline: none;
  box-sizing: border-box;
  transition: background-color var(--app-transitionDuration);
}
#search input:focus {
  background-color: var(--search-bg-focus);
}
#app.main #search input {
  flex: initial;
  justify-content: initial;
  width: var(--search-main-input-width);
  height: initial;
  margin-top: initial;
  padding: 0.8em 0.6em;
  font-size: var(--app-main-fontSize);
}
#app.result #search input {
  flex: 1.2;
  padding: 0 0.6em;
  margin-top: 10px;
  font-size: var(--app-fontSize);
}
#app.main #search input,
#app.main #keywords {
  margin-top: 0.5em;
}

#app #keywords {
  overflow: hidden;
}
#app.main #keywords {
  display: block;
  width: var(--keywords-main-width);
  padding: 0 0.4em;
  margin-top: 1em;
  text-align: center;
  box-sizing: border-box;
}
#app.result #keywords {
  flex: 1;
  display: flex;
  order: 2;
  align-items: center;
}
#keywords a {
  padding: 0 0.5em;
  border-radius: 15px;
  background-color: var(--keywords-bg);
  font-size: var(--keywords-fontSize);
  transition: background-color var(--app-transitionDuration);
  text-decoration: none;
}
#keywords a:before {
  font-family: FontAwesome;
  content: "\f02b";
  font-size: 0.7em;
  margin-right: 0.3em;
}
#keywords a:hover {
  background-color: var(--keywords-bg-focus);
}
#keywords a + a {
  margin-left: 10px;
}
#app.main #keywords a {
  font-size: var(--keywords-main-fontSize);
}

#result {
  overflow: auto;
  flex: 2.5;
  padding: 0 var(--result-gsuiAudioBlock-marginSide);
  background-color: var(--result-bgColor);
  font-size: 0;
  transition: background-color var(--app-transitionDuration);
}

#selection {
  flex: 1.8;
  display: flex;
  flex-direction: column;
  box-shadow: var(--result-bs-bottom);
}
#info {
  display: flex;
  font-size: var(--selections-info-fontSize);
  font-variant: all-small-caps;
  font-weight: bold;
  box-shadow: var(--result-bs-top);
}
.tab {
  padding: 0.2em 0.4em;
  cursor: pointer;
}
.tab.active {
  background-color: var(--selections-tab-bg);
}
#selected,
.sequencer {
  flex: 0;
  display: none;
}

#selected.active {
  flex: 1;
  display: block;
}

#app.main #result,
#app.main #selection {
  flex: 0;
  display: none;
}
