html {
  overflow: hidden;
}

body {
  overflow: auto;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.hide {
  display: none;
  flex: 0;
}
