@media (max-width: 768px) {
  #app.main #logo {
    min-height: 100px;
    max-height: 200px;
    margin-top: 0.3em;
  }
  #app.result #logo {
    width: 70px;
  }

  #app.main #search input,
  #app.main #keywords {
    width: 100%;
  }
  #app.main #search input {
    padding: 0.6em 0.4em;
  }

  #app.main #keywords {
    margin-top: 0.3em;
  }

  #app.main #keywords a {
    font-size: 26px;
  }

  .gsuiAudioBlock {
    width: calc(100% - var(--result-gsuiAudioBlock-marginSide) * 2);
  }
}

@media (min-width: 560px) and (max-width: 900px) {
  .gsuiAudioBlock {
    width: calc(50% - var(--result-gsuiAudioBlock-marginSide) * 2);
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #app.main #logo {
    min-height: 250px;
    max-height: 300px;
  }
  #app.result #logo {
    width: 80px;
  }

  #app.main #search input {
    width: 40%;
  }
}

@media (max-height: 668px) {
  #app.main #logo {
    margin-top: 0.3em;
  }

  #app.main #search input {
    padding: 0.4em 0.4em;
  }
}
