:root {
  --app-fontSize: 24px;
  --app-transitionDuration: 0.2s;
  --app-main-fontSize: 36px;

  --controls-result-height: 110px;

  --theme-width: 17px;

  --logo-width: 100%;
  --logo-main-maxHeight: 300px;
  --logo-result-width: 100px;

  --search-bdRadius: 4px;
  --search-main-input-width: 30%;
  --search-result-input-height: 50%;

  --keywords-fontSize: 20px;
  --keywords-main-width: 80%;
  --keywords-main-fontSize: 30px;

  --result-gsuiAudioBlock-marginSide: 5px;
  --result-gsuiAudioBlock-height: 70px;

  --selections-info-fontSize: 15px;

  --sequencer-seqRow-height: 70px;
  --sequencer-seqRowChild-height: 100%;
  --sequencer-seqRowTitle-width: 150px;
  --sequencer-measure-width: 100%;
  --sequencer-step-margin: 2px;
}

:root.light {
  --app-bg: #fff;
  --app-color: #9c9c9c;

  --search-bg: rgba(0, 0, 0, 0.08);
  --search-bg-focus: rgba(0, 0, 0, 0.1);

  --keywords-bg: rgba(0, 0, 0, 0.12);
  --keywords-bg-focus: rgba(0, 0, 0, 0.16);

  --result-bs-top: 0 2px 2px rgba(0, 0, 0, 0.17);
  --result-bs-bottom: 0 -2px 2px rgba(0, 0, 0, 0.17);
  --result-bgColor: rgba(0, 0, 0, 0.2);

  --sequencer-bg: rgba(0, 0, 0, 0.2);
  --sequencer-row: rgba(0, 0, 0, 0.05);
  --sequencer-gsuiSlider-bg: var(--app-color);
  --selections-tab-bg: rgba(0, 0, 0, 0.2);
  --sequencer-menu-btnhover: rgba(0, 0, 0, 0.2);
}

:root.dark {
  --app-bg: #3d5a68;
  --app-color: #9fb9c5;

  --logo-filter: invert();

  --search-bg: rgba(255, 255, 255, 0.08);
  --search-bg-focus: rgba(255, 255, 255, 0.1);

  --keywords-bg: rgba(255, 255, 255, 0.12);
  --keywords-bg-focus: rgba(255, 255, 255, 0.16);

  --result-bs-top: 0 2px 2px rgba(0, 0, 0, 0.17);
  --result-bs-bottom: 0 -2px 2px rgba(0, 0, 0, 0.17);
  --result-bgColor: rgba(0, 0, 0, 0.2);

  --sequencer-bg: rgba(255, 255, 255, 0.2);
  --sequencer-row: rgba(255, 255, 255, 0.05);
  --sequencer-gsuiSlider-bg: none;
  --selections-tab-bg: rgba(255, 255, 255, 0.2);
  --sequencer-menu-btnhover: rgba(255, 255, 255, 0.1);
}
