.sequencer.active {
  display: flex;
  flex: 1;
  flex-direction: column;
}
#seq-menu {
  display: flex;
  align-items: center;
  height: 40px;
}
.seq-btn {
  width: 40px;
  height: 100%;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}
.seq-btn:hover {
  background-color: var(--sequencer-menu-btnhover);
}
.seq-btn.play::before {
  font-family: FontAwesome;
  content: "\f04b";
}
.seq-btn.stop::before {
  font-family: FontAwesome;
  content: "\f04d";
}
#seq-menu .gsuiSlider.gsui-linear {
  background: var(--sequencer-gsuiSlider-bg);
}
#seq-rows {
  overflow: auto;
  flex: 1;
  background-color: var(--sequencer-row);
}
.seq-row {
  display: flex;
  height: var(--sequencer-seqRow-height);
  margin-bottom: var(--sequencer-step-margin);
}
.seq-row > div {
  height: var(--sequencer-seqRowChild-height);
  box-sizing: border-box;
}
.seq-row .title {
  display: flex;
  align-items: center;
  width: var(--sequencer-seqRowTitle-width);
  padding: 0 0.4em;
  border-right: var(--sequencer-titlebdRight-separate);
  background-color: var(--sequencer-bg);
}
.seq-row .title h5 {
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.seq-row .measure {
  flex: 1;
  display: flex;
  width: var(--sequence-measure-width);
}
.seq-row .step {
  flex: 1;
  height: var(--sequencer-seqRow-height);
  background-color: var(--sequencer-bg);
  margin-left: var(--sequencer-step-margin);
}
.seq-row .step.active {
  background-color: var(--app-bg);
  filter: saturate(24) hue-rotate(225deg);
}
