<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>__tests__</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="3" class="header-row"><b>Folders</b></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/__tests__/../right.html" target="rframe">&lt;parent&gt;</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/__tests__/__snapshots__/right.html" target="rframe">__snapshots__</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/__tests__/helpers/right.html" target="rframe">helpers</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/__tests__/right.html" >right.html</a></td><td align="right">2,890</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/__tests__/TabPanel-test.js" >TabPanel-test.js</a></td><td align="right">1,794</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/__tests__/Tabs-test.js" >Tabs-test.js</a></td><td align="right">13,890</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/__tests__/TabList-test.js" >TabList-test.js</a></td><td align="right">2,764</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/__tests__/Tabs-node-test.js" >Tabs-nod...st.js</a></td><td align="right">1,048</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/__tests__/Tab-test.js" >Tab-test.js</a></td><td align="right">1,807</td></tr>
</table>

</body>
</html>