<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>templates</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="3" class="header-row"><b>Folders</b></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/../right.html" target="rframe">&lt;parent&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/bottomnav.ejs" target="_parent">bottomnav.ejs</a></td><td align="right">94</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/javascripture.ejs" target="_parent">javascri...e.ejs</a></td><td align="right">22,293</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/object.ejs" target="_parent">object.ejs</a></td><td align="right">1,979</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/example.ejs" target="_parent">example.ejs</a></td><td align="right">535</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/leftnav.ejs" target="_parent">leftnav.ejs</a></td><td align="right">2,378</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/page.ejs" target="_parent">page.ejs</a></td><td align="right">1,252</td></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/feedback.ejs" target="_parent">feedback.ejs</a></td><td align="right">1,457</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/member.ejs" target="_parent">member.ejs</a></td><td align="right">7,316</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/thankyou.ejs" target="_parent">thankyou.ejs</a></td><td align="right">120</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/htmlexample.ejs" target="_parent">htmlexample.ejs</a></td><td align="right">612</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/membergroup.ejs" target="_parent">membergroup.ejs</a></td><td align="right">557</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/right.html" target="_parent">right.html</a></td><td align="right">3,857</td></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/index.ejs" target="_parent">index.ejs</a></td><td align="right">3,765</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/USEFUL/blog-posts/PUBLIC/templates/methodgroup.ejs" target="_parent">methodgroup.ejs</a></td><td align="right">436</td><td></td><td></td></tr>
</table>

</body>
</html>