<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="3" class="header-row"><b>Folders</b></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/../right.html" target="rframe">&lt;parent&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/right.html" target="_parent">right.html</a></td><td align="right">4,363</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/FilterButton.js" target="_parent">FilterButton.js</a></td><td align="right">578</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/Markdown.js" target="_parent">Markdown.js</a></td><td align="right">633</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/BackToTopButton.js" target="_parent">BackToTo...on.js</a></td><td align="right">362</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/Footer.js" target="_parent">Footer.js</a></td><td align="right">222</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/Question.js" target="_parent">Question.js</a></td><td align="right">1,479</td></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/Dropdown.js" target="_parent">Dropdown.js</a></td><td align="right">696</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/Header.js" target="_parent">Header.js</a></td><td align="right">448</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/Questions.js" target="_parent">Questions.js</a></td><td align="right">976</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/DropdownItem.js" target="_parent">DropdownItem.js</a></td><td align="right">749</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/Icon.js" target="_parent">Icon.js</a></td><td align="right">272</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/RecommendedResource.js" target="_parent">Recommen...ce.js</a></td><td align="right">705</td></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/Filter.js" target="_parent">Filter.js</a></td><td align="right">286</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/Introduction.js" target="_parent">Introduction.js</a></td><td align="right">257</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/snippets/30-seconds-of-interviews/website/js/components/SortButton.js" target="_parent">SortButton.js</a></td><td align="right">716</td></tr>
</table>

</body>
</html>