/* 
  * Customize the theme by changing these variables
*/

/* :root {
  --main-text: blue;
  --main-dark-text: #ffffff;
  --font: 'Nunito', sans-serif;
} */

#my-presentation {
  height: 100vh;
  width: 100vw;
}

.title {
  background-color: #498f97;
}

.dark .title {
  background-color: #3a3a4b;
}

.customization {
  background-color: #d0c7c9;
}

.dark .customization {
  background-color: #4b4b4b;
}

.tutorial {
  background-color: #abb8c3;
}

.dark .tutorial {
  background-color: #162735;
}

.red-text {
  color: red;
  font-size: 32px;
}

.blue-text {
  color: blue;
  font-size: 18px;
}

.green-text {
  color: green;
}
