.about {
  text-align: center;
  padding: 25px 0px;

  h2 {
    font-size: 44px;
  }

  @include e(heading) {
    max-width: 790px;
    margin: 0 auto;
  }

  @include e(sub-heading) {
    margin-top: 44px;
    line-height: 30px;

    @include mq(sm) {
      font-size: 22px;
      line-height: 40px;
    }
  }

  @include e(traits) {
    margin-top: 30px;

    .col-3 {
      margin-bottom: 40px;
    }

    @include mq(md) {
      margin-top: 90px;

      .col-3 {
        margin-bottom: 0px;
      }
    }
  }

  @include e(traits-icon) {
    width: 20%;
    height: 100%;
    float: left;
    font-size: 36px;
    color: $caribbean-green;
  }

  @include e(traits-text) {
    width: 80%;
    float: right;
    text-align: left;

    h3 {
      margin-bottom: 15px;

      @include mq(lg) {
        margin-bottom: 30px;
      }
    }
  }

  @include mq(sm) {
    padding: 50px 0px;
  }

  @include mq(lg) {
    padding: 115px 0px;
  }
}
