.footer {
  font-size: 14px;

  h5 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $primary-color;
    font-family: $font-family--secondary;
  }

  @include e(main) {
    padding: 20px 0px;
    background-color: #2f3f51;
    color: #a3b1bf;

    .col-4 {
      padding: 0px 10px;
      margin-top: 20px;

      @include mq(md) {
        padding: 0px 20px;
      }

      @include mq(lg) {
        padding: 0px;
        width: calc(25% - 36px);
        margin-right: 36px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  @include e(identity) {
    img {
      margin-top: 25px;
    }

    p {
      margin: 25px 0;
    }
  }

  @include e(identity-link) {
    font-weight: 700;
    color: #a3b1bf;

    i {
      margin-left: 5px;
    }
  }

  @include e(latest-works) {
    ul {
      margin: 25px 0px;
    }

    li {
      float: left;
      width: calc(50% - 6px);
      margin: 3px;

      img {
        width: 100%;
      }
    }
  }

  @include e(contact) {
    p {
      margin: 25px 0px;
    }

    li {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0px;
      }

      i {
        margin-right: 5px;
      }
    }
  }

  @include e(newsletter) {
    p {
      margin: 25px 0px;
    }
  }

  @include e(newsletter-form) {
    background-color: #4e5c6b;
    padding: 6px;
    border-radius: 2px;

    input {
      width: 65%;
      font-size: 13px;
      background-color: transparent;
      border: none;
      color: #a3b1bf;
    }

    button {
      background-color: $caribbean-green;
      color: $primary-color;
      border-radius: 2px;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      border: none;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: darken($caribbean-green, $amount: 10%);
      }
    }
  }

  @include e(bottom) {
    background: #273545;
  }

  @include e(copyright) {
    @include mq(md) {
      float: left;
    }
  }

  @include e(links) {
    margin-top: 5px;

    li {
      float: left;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }

      @include mq(md) {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    a {
      &:hover {
        color: lighten($color: $color-link, $amount: 20%);
      }
    }

    @include mq(md) {
      margin-top: 0px;
      float: right;
    }
  }

  @include e(link-dot) {
    display: none;

    @include mq(md) {
      display: inline;
      margin-left: 10px;
    }
  }
}
