<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/_SANDBOX/carbon/carbon-components/umd/components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td>&lt;Go Back&gt;</td><td>&nbsp;date-picker</td><td>&nbsp;number-input</td><td>&nbsp;structured-list</td></tr>
<tr class="row2"><td>accordion</td><td>&nbsp;dropdown</td><td>&nbsp;overflow-menu</td><td>&nbsp;tabs</td></tr>
<tr><td>checkbox</td><td>&nbsp;file-uploader</td><td>&nbsp;pagination</td><td>&nbsp;text-input</td></tr>
<tr class="row2"><td>code-snippet</td><td>&nbsp;floating-menu</td><td>&nbsp;pagination-nav</td><td>&nbsp;tile</td></tr>
<tr><td>content-switcher</td><td>&nbsp;inline-loading</td><td>&nbsp;progress-indicator</td><td>&nbsp;toolbar</td></tr>
<tr class="row2"><td>copy-button</td><td>&nbsp;loading</td><td>&nbsp;search</td><td>&nbsp;tooltip</td></tr>
<tr><td>data-table</td><td>&nbsp;modal</td><td>&nbsp;slider</td><td>&nbsp;ui-shell</td></tr>
<tr class="row2"><td>data-table-v2</td><td>&nbsp;notification</td><td></td><td></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th></th><th></th><th></th><th></th></tr>
<tr><td><a target="_parent">right.html</a>&nbsp;</td></tr>
</table>

<p class="summary-style">
Folders:  30<br>
Files: 1<br>
Size of all files: 0.003 MB&nbsp;</p>

</body>
</html>