<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/webdevhub-v2/Disorganized-Content/web-dev-archive/Projects/express-local-library/views</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="author_delete.pug" target="_parent">author_delete.pug</a>&nbsp;</td><td><a href="bookinstance_detail.pug" target="_parent">bookinsta...il.pug</a>&nbsp;</td><td><a href="book_form.pug" target="_parent">book_form.pug</a>&nbsp;</td><td><a href="genre_form.pug" target="_parent">genre_form.pug</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="author_detail.pug" target="_parent">author_detail.pug</a>&nbsp;</td><td><a href="bookinstance_form.pug" target="_parent">bookinsta...rm.pug</a>&nbsp;</td><td><a href="book_list.pug" target="_parent">book_list.pug</a>&nbsp;</td><td><a href="genre_list.pug" target="_parent">genre_list.pug</a>&nbsp;</td></tr>
<tr><td><a href="author_form.pug" target="_parent">author_form.pug</a>&nbsp;</td><td><a href="bookinstance_list.pug" target="_parent">bookinsta...st.pug</a>&nbsp;</td><td><a href="error.pug" target="_parent">error.pug</a>&nbsp;</td><td><a href="index.pug" target="_parent">index.pug</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="author_list.pug" target="_parent">author_list.pug</a>&nbsp;</td><td><a href="book_delete.pug" target="_parent">book_delete.pug</a>&nbsp;</td><td><a href="genre_delete.pug" target="_parent">genre_delete.pug</a>&nbsp;</td><td><a href="layout.pug" target="_parent">layout.pug</a>&nbsp;</td></tr>
<tr><td><a href="bookinstance_delete.pug" target="_parent">bookinsta...te.pug</a>&nbsp;</td><td><a href="book_detail.pug" target="_parent">book_detail.pug</a>&nbsp;</td><td><a href="genre_detail.pug" target="_parent">genre_detail.pug</a>&nbsp;</td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 19<br>
Size of all files: 15080 KB</p>

</body>
</html>