<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Projects/express-local-library/views</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th></th><th></th><th></th><th></th></tr>
<tr><td><a href="author_delete.pug" >author_delete.pug</a>&nbsp;</td><td><a href="bookinstance_detail.pug" >bookinsta...il.pug</a>&nbsp;</td><td><a href="book_form.pug" >book_form.pug</a>&nbsp;</td><td><a href="genre_form.pug" >genre_form.pug</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="author_detail.pug" >author_detail.pug</a>&nbsp;</td><td><a href="bookinstance_form.pug" >bookinsta...rm.pug</a>&nbsp;</td><td><a href="book_list.pug" >book_list.pug</a>&nbsp;</td><td><a href="genre_list.pug" >genre_list.pug</a>&nbsp;</td></tr>
<tr><td><a href="author_form.pug" >author_form.pug</a>&nbsp;</td><td><a href="bookinstance_list.pug" >bookinsta...st.pug</a>&nbsp;</td><td><a href="error.pug" >error.pug</a>&nbsp;</td><td><a href="index.pug" >index.pug</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="author_list.pug" >author_list.pug</a>&nbsp;</td><td><a href="book_delete.pug" >book_delete.pug</a>&nbsp;</td><td><a href="genre_delete.pug" >genre_delete.pug</a>&nbsp;</td><td><a href="layout.pug" >layout.pug</a>&nbsp;</td></tr>
<tr><td><a href="bookinstance_delete.pug" >bookinsta...te.pug</a>&nbsp;</td><td><a href="book_detail.pug" >book_detail.pug</a>&nbsp;</td><td><a href="genre_detail.pug" >genre_detail.pug</a>&nbsp;</td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 19<br>
Size of all files: 15080 KB</p>

</body>
</html>