@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    109.6deg,
    rgb(44, 83, 131) 18.9%,
    rgb(95, 175, 201) 91.1%
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: #e7e7e7;
  min-width: 100%;
  min-height: 100vh;
  font-size: 18px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 80%;
  margin: 30px auto;
}

.info {
  margin: 30px 0px;
  font-size: 20px;
}

.topics {
  margin: 30px 0px;
}

.subject-container {
  margin-top: 20px;
  display: flex;
}

.subject-item {
  min-width: 150px;
  margin-right: 30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.subject-item a {
  color: #403d43;
  text-decoration: none;
}

.subject-item span {
  margin-right: 10px;
}

.subject-item:hover {
  background-color: #403d43;
  cursor: pointer;
}

.subject-item:hover a {
  color: #ffffff;
}

ol {
  font-size: 20px;
  margin-top: 30px;
}

li a {
  color: #403d43;
  padding: 5px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid #403d43;
}

li a:hover {
  background-color: #403d43;
  color: #ffffff;
}

table {
  margin-top: 20px;
  width: 600px;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-size: 20px;
  padding: 5px;
}

td {
  border: none;
  padding: 5px;
}

.table-head-row {
  border-bottom: 1px solid #e7e7e7;
}

tr:nth-child(even) {
  background: #ccc;
  color: #000;
}

tr:nth-child(odd) a {
  color: #e7e7e7;
}

td:last-child {
  text-align: center;
}
