@font-face {
    font-family: "GarnettRegular-Regular";
    font-display: block;
    src: url("/fonts/GarnettRegular-Regular.eot");
    src: url("/fonts/GarnettRegular-Regular?#iefix") format("embedded-opentype"), url("/fonts/GarnettRegular-Regular.woff") format("woff"), url("/fonts/GarnettRegular-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "GarnettMedium-Regular";
    font-display: block;
    src: url("/fonts/GarnettMedium-Regular.eot");
    src: url("/fonts/GarnettMedium-Regular?#iefix") format("embedded-opentype"), url("/fonts/GarnettMedium-Regular.woff") format("woff"), url("/fonts/GarnettMedium-Regular.ttf") format("truetype");
    font-style: normal;
}