<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>base</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="3" class="header-row"><b>Folders</b></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/7-REPO/Resource-Store/Bootcamp-repos/Curriculum/06_Full_Stack/Resources/draft-js-master/src/component/base/../right.html" target="rframe">&lt;parent&gt;</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/7-REPO/Resource-Store/Bootcamp-repos/Curriculum/06_Full_Stack/Resources/draft-js-master/src/component/base/__tests__/right.html" target="rframe">__tests__</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/7-REPO/Resource-Store/Bootcamp-repos/Curriculum/06_Full_Stack/Resources/draft-js-master/src/component/base/DraftEditor.css" >DraftEditor.css</a></td><td align="right">1,561</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/7-REPO/Resource-Store/Bootcamp-repos/Curriculum/06_Full_Stack/Resources/draft-js-master/src/component/base/DraftEditor.react.js" >DraftEdi...ct.js</a></td><td align="right">21,114</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/7-REPO/Resource-Store/Bootcamp-repos/Curriculum/06_Full_Stack/Resources/draft-js-master/src/component/base/DraftScrollPosition.js" >DraftScr...on.js</a></td><td align="right">344</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/7-REPO/Resource-Store/Bootcamp-repos/Curriculum/06_Full_Stack/Resources/draft-js-master/src/component/base/DraftEditorPlaceholder.css" >DraftEdi...r.css</a></td><td align="right">493</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/7-REPO/Resource-Store/Bootcamp-repos/Curriculum/06_Full_Stack/Resources/draft-js-master/src/component/base/DraftEditorPlaceholder.react.js" >DraftEdi...ct.js</a></td><td align="right">1,701</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/7-REPO/Resource-Store/Bootcamp-repos/Curriculum/06_Full_Stack/Resources/draft-js-master/src/component/base/DraftTextAlignment.js" >DraftTex...nt.js</a></td><td align="right">338</td></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/7-REPO/Resource-Store/Bootcamp-repos/Curriculum/06_Full_Stack/Resources/draft-js-master/src/component/base/right.html" >right.html</a></td><td align="right">3,527</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/7-REPO/Resource-Store/Bootcamp-repos/Curriculum/06_Full_Stack/Resources/draft-js-master/src/component/base/DraftEditorProps.js" >DraftEdi...ps.js</a></td><td align="right">7,306</td><td></td><td></td></tr>
</table>

</body>
</html>