@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  width: 660px;
  display: flex;
  justify-content: space-between;
}

.login__example {
  background: #f96332;
}

.login__design {
  width: 320px;
  background: #f96332;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin: 30px 0px;
  font-size: 64px;
  color: #fba184;
}

.login__text-fields {
  margin: 60px 0px;
}

.login__input-field {
  color: #ffffff;
  background-color: #fa7347;
  width: 280px;
  margin: 10px 20px;
  display: flex;
  padding: 15px;
  border-radius: 30px;
}

.login__icon {
  margin: 0px 10px;
}

.login__input {
  background-color: transparent;
  border: none;
  margin: 0 10px;
  color: #ffffff;
}

.login__button-container {
  color: #ffffff;
  background-color: #fa7347;
  width: 280px;
  margin: 20px;
  display: flex;
}

.login__button-container button {
  border-radius: 20px;
  border: none;
  width: 100%;
  padding: 10px 0px;
  background-color: #ffffff;
  color: #f96332;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 350;
}

.login__button-container button:hover {
  box-shadow: 0px 2px 5px rgb(121, 121, 121);
}

/*
  * Card Design
*/

.card {
  margin: 20px 0px;
  width: 660px;
  display: flex;
  justify-content: space-between;
}

.card__example-image {
  width: 320px;
}

.card__example-image img {
  width: 100%;
}

.card__design {
  width: 320px;
}

.card__image img {
  width: 100%;
}

.card__content {
  padding: 15px;
}

.card__tag {
  font-weight: 700;
  font-size: 14px;
  color: #ffb542;
}

.card__tag i {
  font-size: 13px;
  margin-right: 2px;
}

.card__heading {
  margin: 10px 0;
}

.card__heading h2 {
  font-size: 18px;
  font-weight: normal;
  color: #5e5e5e;
}

.card__text {
  margin: 5px 0px;
  color: gray;
  font-size: 18px;
  font-weight: 200;
  line-height: 140%;
}

/* 
  * Buttons
*/

.button-group button {
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button-group button i {
  margin-right: 2px;
}

.button-group .twitter {
  background-color: #1da1f2;
}

.button-group .facebook {
  background-color: #4267b2;
}

.button-group .dribbble {
  background-color: #ea4c89;
}

.button-group .google-plus {
  background-color: #db4a39;
}
