@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: 'Cairo', sans-serif;
}

canvas {
  position: absolute;
  z-index: 1;
}

.container {
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.game-initializatation-screen {
  background-color: aliceblue;
  position: absolute;
  width: 1000px;
  height: 993px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.game-over-screen {
  background-color: aliceblue;
  position: absolute;
  width: 1000px;
  height: 993px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 3;
}

canvas {
  position: absolute;
}

.instructions,
.high-score {
  width: 400px;
  margin: 20px 0px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 15px;
  background: #f5f5fc;
}

.instructions ul {
  list-style-type: none;
}

button {
  background-color: #607d8b;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
}

.received-score,
.received-highscore {
  display: none;
  margin: 20px 0px;
}

.game-score {
  display: block;
  position: absolute;
  z-index: 1;
}

.game-score {
  font-size: 60px;
  color: #ffffff;
}

.shooter {
  position: absolute;
  background: #aadbff;
  height: 80px;
  width: 80px;
  z-index: 5;
  left: -100px;
  bottom: 10px;
  border: 5px solid #607d8b;
  padding: 20px;
  border-radius: 50%;
  display: none;
}
