<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Users/bryan/Downloads/STATIC-ASSETS/2-content/_JOB-SEARCH/02-portfolios/bgoonz.github.io/Experimental/src/components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td><td>&nbsp;<a href="icons/right.html" target="rframe">icons</a></td><td>&nbsp;<a href="sections/right.html" target="rframe">sections</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th></th><th></th><th></th><th></th></tr>
<tr><td><a href="email.js" >email.js</a>&nbsp;</td><td><a href="index.js" >index.js</a>&nbsp;</td><td><a href="menu.js" >menu.js</a>&nbsp;</td><td><a href="side.js" >side.js</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="footer.js" >footer.js</a>&nbsp;</td><td><a href="layout.js" >layout.js</a>&nbsp;</td><td><a href="nav.js" >nav.js</a>&nbsp;</td><td><a href="social.js" >social.js</a>&nbsp;</td></tr>
<tr><td><a href="head.js" >head.js</a>&nbsp;</td><td><a href="loader.js" >loader.js</a>&nbsp;</td><td></td><td></td></tr>
</table>

<p class="summary-style">
Folders:  3<br>
Files: 10<br>
Size of all files: 29344 KB</p>

</body>
</html>