.cmp {
  display: flex;
  position: relative;
  height: var(--cmp-height);
  border-radius: var(--app-rad);
  background-color: var(--cmp-bg);
}
.cmpUserShown {
  margin-bottom: 42px;
}

.cmpPlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: var(--cmp-height);
  min-width: var(--cmp-height);
  color: #fff4;
  cursor: pointer;
  background-color: #0001;
}

.cmpBody {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cmpText {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
.cmpSlider {
  position: relative;
  overflow: hidden;
  height: 0;
  cursor: pointer;
  transition: 0.2s;
  transition-property: height;
  background-color: rgba(0, 0, 0, 0.2);
}
.cmpPlaying .cmpSlider {
  height: 10px;
}
.cmpSliderValue {
  width: 0;
  height: 100%;
  pointer-events: none;
  background-color: rgb(103, 171, 227);
}
.cmpSliderInput {
  position: absolute;
  cursor: inherit;
  top: 0;
  margin: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.cmpName {
  position: relative;
  height: 1.4em;
  line-height: 1.4em;
  font-size: 20px;
  transition: height 0.2s;
}
.cmpPlaying .cmpName {
  height: 1.3em;
}
.cmpNameLink {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cmpInfo {
  display: flex;
  font-size: 16px;
  font-family: var(--gsui-font-number);
  white-space: nowrap;
  opacity: 0.7;
}
.cmpTime,
.cmpBPMwrap {
  display: flex;
  align-items: baseline;
}
.cmp:not(.cmpPlaying) .cmpCurrentTime {
  display: none;
}
.cmpCurrentTime::after {
  content: "\A0-\A0";
}
.cmpBPMwrap {
  margin-left: 16px;
}
.cmpTime .gsuiIcon,
.cmpBPMwrap .gsuiIcon {
  margin-right: 6px;
  opacity: 0.5;
}
.cmpBPM {
  display: inline-flex;
  align-items: baseline;
}
.cmpBPM::after {
  content: "bpm";
  margin-left: 4px;
  font-size: 11px;
  font-family: var(--gsui-font);
}

.cmpUser {
  position: absolute;
  display: flex;
  z-index: -1;
  top: calc(100% + 16px);
  left: 10px;
  align-items: center;
  margin-top: -3em;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  transition-property: z-index, margin-top, opacity, visibility;
}
.cmpUserShown .cmpUser {
  z-index: 0;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.cmpUserAvatar {
  width: 22px;
  height: 22px;
  margin-left: 8px;
  border-radius: 2px;
  background: #fff6 no-repeat center;
  background-size: cover;
}
.cmpUserUsername {
  font-weight: bold;
  margin: 0 8px;
}
.cmpUserName {
}
