#footer {
  display: flex;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  margin-top: var(--main-padding);
  padding: 16px 0;
  font-size: 14px;
  color: var(--color-dark);
  pointer-events: none;
  transition: 0.5s box-shadow;
}
#footer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  border-top: 1px solid;
  opacity: 0.2;
}
#footer:hover {
  box-shadow: 0 -10px 30px -30px rgba(0, 0, 0, 0.7);
}
#footerContent {
  display: inline-grid;
  grid-gap: 6px;
}

#footer a {
  transition: 0.2s color;
  pointer-events: auto;
}
#footer a:hover {
  color: var(--color-light);
}

.footer-line {
  display: flex;
  align-items: center;
}
.footer-label {
  margin-right: 6px;
}

#footerCopyright {
  justify-content: center;
  font-size: 12px;
  opacity: 0.8;
}

#footerSocialsLink {
  display: flex;
}
#footerSocialsLink a + a {
  margin-left: 0.6em;
}

@media (max-width: 450px) {
  .footer-line {
    flex-direction: column;
    align-items: flex-start;
  }
}
