#head {
  height: var(--head-height);
  display: flex;
  margin-bottom: var(--main-padding);
  border-radius: 0 0 var(--app-rad) var(--app-rad);
  background-color: var(--head-bg);
}

/* .......................................................................... */
.headLink {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  transition-property: color, background-color, filter;
  background-color: var(--bg, transparent);
}
.headLink:hover {
  --bg: rgba(255, 255, 255, 0.05);
}
.headLink.selected {
  --bg: var(--head-selected-bg);
}
.headLink.selected:hover {
  filter: brightness(1.1);
}

/* .......................................................................... */
#headIcon {
  width: var(--head-height);
  margin-right: auto;
  border-bottom-left-radius: inherit;
}
#headIcon::before {
  content: "GS";
  font-size: 40px;
  font-family: "Oswald";
  line-height: 1em;
}

/* .......................................................................... */
#headUser {
  display: flex;
  align-items: center;
  padding: 0 var(--head-padding);
  font-size: 18px;
  color: inherit;
  user-select: none;
  -webkit-user-select: none;
}
.noauth #headUser {
  display: none;
}
#headAvatar {
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-left: var(--head-padding);
  background-color: #fff3;
}

/* .......................................................................... */
#headAuth {
  padding: 0 var(--head-padding);
  cursor: pointer;
  width: 1em;
  font-size: 22px;
  border-bottom-right-radius: inherit;
}
#headAuth:hover,
#headAuth.selected {
  background-color: var(--head-logout-hover-bg);
}
