#homeLogo {
  float: left;
  width: 76px;
  margin-right: var(--main-padding);
}

#homeIntro {
  line-height: 2em;
  margin-bottom: var(--main-padding);
}
#homeIntro a {
  font-weight: bold;
}

#homeDAWLink {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 0;
  border-radius: var(--app-rad);
}
#homeDAWLinkImg {
  width: 100%;
}
#homeDAWLinkText {
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 16px;
  background-image: radial-gradient(transparent, #151527);
  text-shadow: 0 0 24px #151527;
}
#homeDAWLinkTitle {
  font-size: 52px;
}
#homeDAWLinkGS {
  font-size: 1.15em;
  font-family: "Oswald";
}

@media (max-width: 540px) {
  #homeDAWLinkTitle {
    font-size: 38px;
  }
}
@media (max-width: 380px) {
  #homeDAWLinkTitle {
    font-size: 28px;
  }
}
