#main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: var(--main-width);
  min-height: 100%;
  margin: 0 auto;
  padding: 0 var(--main-padding);
  color: var(--color-light);
}

/* .......................................................................... */
#pages {
  position: relative;
  overflow: hidden;
  min-height: 260px;
  margin-bottom: auto;
}

/* .......................................................................... */
.page,
#error,
#loader {
  transition: 0.2s;
  transition-property: opacity, visibility;
}
.page:not(.show),
#error:not(.show),
#loader:not(.show),
#error.show ~ .page,
#loader.show ~ .page {
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

/* .......................................................................... */
#loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  background: inherit;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 48px;
  background-color: var(--app-bg);
  transition: 0.2s;
  transition-property: opacity, visibility;
}

/* .......................................................................... */
#error {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  background-color: var(--app-bg);
}
#errorLabel {
  opacity: 0.6;
}
#errorCode {
  font-size: 3em;
}
