.pageSection {
  margin-top: var(--main-padding);
  transition: 0.2s;
  transition-property: margin-top, max-height, opacity;
  overflow: hidden;
}
.pageSection.hidden {
  opacity: 0;
  max-height: 0;
  margin-top: 0;
}
.pageSectionTitle {
  margin-bottom: var(--main-padding);
  opacity: 0.4;
}
.pageSectionTitleValue {
  font-weight: bold;
}
.pageSectionTitleLabel {
  opacity: 0.7;
}
.pageSectionBody {
}
