html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100%;
  font-size: 14px;
  font-family: var(--gsui-font);
  background-color: var(--app-bg);
}
a {
  color: inherit;
  text-decoration: none;
}
a.highlight {
  color: #9df;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
