:root {
  --app-rad: 6px;
  --app-bg: #557;
  --color-dark: #1c1c30;
  --color-light: #fff;
  --a-text-light: #9df;
  --a-text-dark: #77c;
  --btn-font: var(--gsui-font);
  --form-error-color: #ee5f5f;

  --main-width: 640px;
  --main-padding: 20px;

  --head-height: 80px;
  --head-padding: 10px;
  --head-logout-hover-bg: #ee5f5f;
  --head-logout-hover-text: #fff;
  --head-logout-text: #000;
  --head-selected-bg: #339af0;
  --head-bg: rgba(0, 0, 0, 0.3);

  --auth-bg: #fff;
  --auth-text: #333;
  --auth-show-dur: 0.3s;
  --auth-padding: 10px;
  --auth-signup-bg: #607d8b;
  --auth-signup-text: #fff;

  --userPageUser-height: 120px;
  --userPageUser-padding: 10px;
  --userPageUser-avatar-color: #339af0;

  --cmp-height: 64px;
  --cmp-bg: #339af0;
}
