#userPageUser {
  display: grid;
  overflow: hidden;
  grid-column-gap: var(--userPageUser-padding);
  grid-template:
    "avatar info  edit" 1.5fr
    "avatar email edit" 1fr
    / var(--userPageUser-height) 1fr 0;
  position: relative;
  height: var(--userPageUser-height);
  border-radius: var(--app-rad);
  font-size: 14px;
  color: #333;
  background-color: #fff;
}
#userPageUser.me {
  grid-template-columns: var(--userPageUser-height) 1fr 42px;
}

#userPageUserAvatar {
  grid-area: avatar;
  font-size: 72px;
  color: var(--userPageUser-avatar-color);
}
#userPageUserAvatar {
  border-radius: 0;
}

#userPageUserEdit {
  grid-area: edit;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border: 0;
  color: #0006;
  cursor: pointer;
  font-size: 20px;
  background-color: #0001;
}

#userPageUserInfo {
  grid-area: info;
  display: flex;
  align-self: flex-end;
  align-items: baseline;
  font-size: 1.5em;
  min-width: 0;
}
#userPageUserUsername {
  font-size: 2em;
}
#userPageUserEmailAddr,
#userPageUserEmailNot,
#userPageUserLastname,
#userPageUserFirstname {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#userPageUserLastname,
#userPageUserFirstname {
  margin-left: 0.4em;
}
#userPageUserEmail {
  grid-area: email;
  min-width: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#userPageUserEmailNot {
  color: #da6035;
  cursor: pointer;
  font-size: 12px;
}
#userPageUser:not(.me) #userPageUserEmailAddr.private,
#userPageUser:not(.me) #userPageUserEmailNot,
#userPageUserEmail:not(.toVerify) #userPageUserEmailNot,
#userPageUserEmailNot.sent #userPageUserEmailToSend,
#userPageUserEmailNot:not(.sent) #userPageUserEmailSent {
  display: none;
}

#userPageUserForm:not(.hidden) {
  max-height: 600px;
}
#userPageUserForm .pageSectionBody {
  display: grid;
  grid-gap: 20px;
  font-size: 12px;
  padding: var(--main-padding);
  border-radius: var(--app-rad);
  background-color: rgba(0, 0, 0, 0.12);
}
#userPageUserForm .field-label {
  opacity: 0.5;
}
#userPageUserFormBtns {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  justify-content: flex-end;
}

#userPage .cmp + .cmp {
  margin-top: var(--main-padding);
}

@media (max-width: 450px) {
  #userPageUser {
    height: auto;
    padding: var(--userPageUser-padding);
    grid-row-gap: var(--userPageUser-padding);
    grid-template:
      "avatar info" var(--userPageUser-height)
      "email  email" 1fr
      "edit   edit" 0
      / var(--userPageUser-height) 1fr;
  }
  #userPageUser:not(.me) {
    padding-bottom: 0;
  }
  #userPageUser.me {
    grid-template-columns: var(--userPageUser-height) 1fr;
    grid-template-rows: var(--userPageUser-height) 1fr 34px;
  }
  #userPageUserAvatar {
    border-radius: 4px;
  }
  #userPageUserInfo {
    flex-direction: column;
    align-self: center;
  }
  #userPageUserLastname,
  #userPageUserFirstname {
    margin-left: 0;
  }
  #userPageUserUsername {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
