.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.userAvatarImg {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.userAvatarDef {
}
.userAvatar:not(.userAvatarHas) .userAvatarImg,
.userAvatar.userAvatarHas .userAvatarDef {
  display: none;
}
