.container {
  max-width: 1203px;
  margin: 0 auto;
  padding: 15px;
}

.nav-small-screen {
  position: relative;
  position: fixed;
  padding: 20px 0px;
  top: 0;
  right: 0;
  width: 80%;
  min-height: 100%;
  background-color: #424242;
  display: none;
  transition: all 0.3s ease-in-out;
}

header {
  background: url('../images/banner-img.png');
  background-repeat: no-repeat;
}

.contact {
  background-color: #424242;
}

.examples,
.testimonials,
.offer {
  padding: 30px 0px;
}

.partners {
  padding: 15px 0;
  background: #f7f7f7;
}

footer {
  border-top: 3px solid var(--theme-color);
}

footer .container {
  padding: 30px 15px;
}

.column {
  margin: 20px 0px;
  width: 100%;
  float: left;
}

.copyright {
  background: var(--black);
  color: var(--white);
  padding: 5px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .offer {
    padding: 40px 0px;
  }

  footer .container {
    padding: 40px 15px;
  }

  footer .column {
    width: 50%;
    padding: 30px;
  }
}

@media (min-width: 1200px) {
  header {
    height: 693px;
  }

  .examples,
  .testimonials {
    padding: 85px 0px;
  }

  .nav-small-screen {
    display: none;
  }

  .offer {
    padding-top: 45px;
    padding-bottom: 85px;
  }

  footer .container {
    padding: 100px 15px;
  }

  footer .column {
    width: calc(25% - 20px);
    margin: 0px 10px;
    padding: 0px;
  }

  .row:after {
    content: '';
    display: table;
    clear: both;
  }
}

@media (min-width: 1920px) {
  header {
    background-size: cover;
  }
}
