@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600;700&family=Lato:wght@400;900&family=Open+Sans&display=swap');

/* CONTACT SECTION */
header,
.contact {
  font-size: 11px;
  font-family: 'Lato', sans-serif;
}

.contact,
.contact a {
  color: #999999;
}

.contact a:hover,
.contact a:focus {
  color: var(--theme-color);
}

.contact li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.contact li:last-child {
  margin-right: 0px;
}

.contact ul:last-child i {
  margin-right: 20px;
}

.contact ul:last-child li:first-child {
  margin-bottom: 5px;
}

.contact ul:first-child {
  margin-bottom: 10px;
}

/* NAV SECTION */
nav {
  text-transform: uppercase;
  font-size: 14px;
}

nav .logo {
  display: block;
  float: left;
}

nav img {
  width: 200px;
}

.logo-and-links {
  float: left;
}

nav .bars {
  float: right;
  margin: 7px;
  margin-left: 20px;
}

nav .bars button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bars i {
  font-size: 20px;
}

.nav-list {
  display: none;
}

.authentication {
  display: none;
}

nav a {
  color: var(--black);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--theme-color);
  text-decoration: none;
}

/* SMALL SCREEN NAV BAR */
.nav-small-screen a {
  color: var(--white);
  font-size: 16px;
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.nav-small-screen .dropdown li:first-child {
  width: 70%;
}

.nav-small-screen a:focus {
  background-color: var(--theme-color);
  color: white;
}

.nav-small-screen ul {
  list-style-type: none;
}

.dropdown-menu {
  padding-left: 30px;
}

.nav-small-screen .authentication {
  display: block;
}

.nav-small-screen i {
  margin-right: 10px;
}

.nav-small-screen .close {
  background: none;
  border: none;
  color: var(--theme-color);
  font-size: 40px;
  position: absolute;
  top: 5px;
  right: 15px;
}

.close i {
  margin: 0;
}
/* BANNER SECTION */

.banner {
  text-align: center;
  padding: 50px 0px;
}

.banner-logo {
  margin-bottom: 20px;
}

.banner-button button {
  background-color: var(--theme-color);
  color: var(--white);
  border: none;
  cursor: pointer;
  padding: 11px 25px;
  text-transform: uppercase;
  margin-top: 20px;
}

.offer-text {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
}

/* ABOUT SECTION */
.about {
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0px;
}

.about p {
  text-transform: none;
  margin: 20px 0px;
}

.about ul {
  list-style-type: none;
  margin-top: 20px;
}

.categories li {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid var(--main-gray);
}

.categories li:nth-child(even) {
  background-color: #f7f7f7;
}

/* COUNTER SECTION */

.counter {
  text-align: center;
  background: var(--black);
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
}

.counter-header {
  font-size: 30px;
}

.counter li {
  list-style-type: none;
  margin: 20px 0px;
}

.counter img {
  margin: 20px 0px;
}

/* GRAPHIC DESIGN */
.graphics-design {
  padding: 30px 0px;
}

.graphics-design p {
  margin: 20px 0px;
}

.graphics-design .heading {
  text-align: center;
}

.graphics-design .video {
  text-align: center;
  margin: 30px 0px;
}

.graphics-design ul {
  list-style-type: none;
}

.graphics-design ul li {
  margin: 20px 0px;
}

.graphics-design li i {
  width: 20%;
  display: block;
  float: left;
  font-size: 24px;
  margin-top: 3px;
  color: var(--main-gray);
}

.graphics-design li div {
  float: right;
  width: 80%;
}

/* EXAMPLES SECTION */
.examples {
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.chevron-buttons button {
  padding: 10px;
  border: none;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.chevron-buttons button:hover,
.chevron-buttons button:focus {
  background-color: var(--theme-color);
}

.examples .gallery {
  width: 100%;
  margin: 20px 0px;
}

.examples .gallery img {
  width: 100%;
}

.examples .banner-button {
  text-align: center;
}

/* TESTIMONIALS SECTION */
.testimonials {
  text-align: center;
}

.testimonials-content {
  margin: 20px 0px;
}

.testimonial {
  width: 100%;
  margin-top: 30px;
}

.testimonial-text {
  width: 100%;
  padding: 30px;
  padding-bottom: 55px;
  background-image: url(../images/testimonial.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.testimonial .rating {
  margin-top: 20px;
  font-size: 14px;
}

.testimonial .rating span:last-child {
  margin-left: 20px;
  color: var(--theme-color);
}

.gray-star {
  color: var(--main-gray);
}

.testimonial-writer {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/* PARTNERS SECTION */
.partners {
  text-align: center;
}

.partners .partner {
  margin: 20px 0px;
}

/* OFFER SECTION */
.offer {
  text-transform: uppercase;
}

.offer p {
  color: #666666;
  font-weight: 600;
  font-size: 14px;
}

.offer form {
  margin: 10px 0;
}
.offer input {
  border-radius: 0;
  border: 1px solid #e5e5e5;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.offer input:focus {
  outline: none;
}

.offer button {
  margin-top: 10px;
  width: 100%;
  text-transform: uppercase;
  padding: 10px 25px;
  border: none;
  background: var(--theme-color);
  color: var(--white);
}

/* FOOTER SECTION */
footer {
  font-size: 14px;
}
footer .container {
  position: relative;
}

footer .goto-top {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: var(--theme-color);
  padding: 15px;
  color: #ffffff;
}

footer p {
  font-size: 14px;
  margin: 30px 0px;
}

footer .social-media-links li {
  float: left;
  list-style-type: none;
  margin-right: 10px;
  border: 1px solid var(--main-gray);
}

.social-media-links a {
  display: inline-block;
  color: var(--main-gray);
  padding: 8px 12px;
}

.social-media-links a:hover {
  color: #ffffff;
}

footer .social-media-links li:hover {
  background-color: var(--theme-color);
}

footer ul:nth-child(n + 2) {
  margin-top: 30px;
  list-style: none;
}

footer ul:nth-child(n + 2) li {
  border-bottom: 1px solid var(--main-gray);
}

footer ul:nth-child(n + 2) a {
  display: inline-block;
  padding: 13px 0px;
  text-decoration: none;
  color: #666666;
}

footer ul:nth-child(n + 2) a:hover,
footer ul:nth-child(n + 2) a:focus {
  color: var(--theme-color);
}

footer ul:nth-child(n + 2) i {
  margin-right: 20px;
}

footer .column input,
footer .column button {
  width: 100%;
}

footer .column input {
  border: 1px solid var(--main-gray);
  padding: 10px;
  margin-bottom: 10px;
}

footer input:focus {
  outline: none;
}

footer .column button {
  background: var(--theme-color);
  color: var(--white);
  padding: 10px;
  border: none;
}

/* COPYRIGHT SECTION */
.copyright ul {
  list-style-type: none;
}

.copyright li {
  margin: 10px 0px;
}

.copyright a {
  color: var(--white);
  text-decoration: none;
}

@media (min-width: 768px) {
  /* CONTACT SECTION */
  header,
  .contact {
    font-size: 14px;
  }

  .contact ul:first-child {
    float: left;
    margin-bottom: 0px;
  }

  .contact ul:last-child {
    float: right;
  }

  /* NAV SECTION */
  nav ul {
    margin-top: 10px;
  }

  nav img {
    width: auto;
  }

  .bars-and-authentication {
    float: right;
  }

  .authentication {
    display: block;
    float: left;
  }

  .authentication li {
    float: left;
    list-style-type: none;
  }

  .authentication li:first-child {
    margin-right: 12px;
  }

  .authentication li i {
    margin: 0px 10px;
    color: var(--main-gray);
  }

  /* BANNER SECTION */
  .banner {
    padding: 50px;
  }

  .banner .logo img {
    width: 82px;
  }

  /* ABOUT SECTION */
  .about {
    padding: 50px 0px;
  }

  .categories li {
    float: left;
    width: 50%;
    height: 230px;
    padding: 0px;
    margin-bottom: 10px;
  }

  .categories li:nth-child(even) {
    float: right;
  }

  .category-image {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  /* COUNTER */
  .counter-header {
    font-size: 40px;
  }

  .counter li {
    width: 50%;
    float: left;
  }

  .counter img {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .counter li:nth-child(even) {
    float: right;
  }

  /* GRAPHICS DESIGN */
  .graphics-design .content {
    padding: 0px 50px;
  }

  .graphics-design ul li {
    margin-bottom: 40px;
  }
  .graphics-design li i {
    width: 15%;
    font-size: 40px;
    margin-top: 3px;
  }

  .graphics-design li div {
    width: 85%;
  }

  /* EXAMPLES SECTION */
  .header h2 {
    float: left;
  }

  .header .buttons {
    float: right;
  }

  .examples .gallery div {
    width: 25%;
    float: left;
  }

  /* TESTIMONIAL */
  .testimonial {
    margin: 0px;
    width: 48%;
    float: left;
  }

  .testimonial:last-child {
    float: right;
  }

  .testimonials .section-title p {
    margin-top: 20px;
  }

  .testimonials-content {
    margin: 25px 0px;
  }

  /* PARTNERS SECTION */

  /* OFFER SECTION */
  .offer .heading {
    width: 40%;
    float: left;
  }

  .offer form {
    width: 60%;
    float: right;
  }

  .offer input {
    width: 59%;
    float: left;
    padding: 9px;
  }
  .offer button {
    float: right;
    margin: 0px;
    width: 40%;
    text-transform: uppercase;
    padding: 10px 25px;
    border: none;
    background: var(--theme-color);
    color: var(--white);
  }

  /* COPYRIGHT SECTION */
  .copyright-text {
    float: left;
  }

  .copyright ul {
    float: right;
  }

  .copyright ul li {
    float: left;
    margin: 0px 10px;
  }
}

@media (min-width: 1200px) {
  nav .bars {
    display: none;
  }

  nav .nav-list {
    display: block;
    list-style-type: none;
    margin-left: 20px;
    float: right;
  }

  .nav-list li {
    float: left;
    margin: 10px;
  }

  .logo-and-links {
    width: 82.75%;
  }

  .authentication {
    margin-top: 20px;
  }

  .authentication li i:first-child {
    margin-left: 0px;
  }

  /* DROPDOWN MENU */
  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    border-top: 3px solid var(--theme-color);
    position: absolute;
    transition: 0.3s;
  }

  .dropdown:hover .dropdown-menu {
    visibility: visible;
  }

  .dropdown-menu {
    visibility: hidden;
    background: var(--black);
    width: 200px;
  }

  .dropdown-menu li {
    width: 100%;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #5b5b5b;
  }

  .dropdown-menu a {
    width: 100%;
    display: inline-block;
    padding: 20px;
    color: var(--white);
  }

  .dropdown-menu a:hover,
  .dropdown-menu a:focus {
    background: var(--theme-color);
    color: var(--white);
  }

  /* BANNER SECTION */
  .banner {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .banner-button button {
    padding: 22px 50px;
    margin-top: 108px;
  }

  /* ABOUT SECTION */
  .about {
    padding-top: 85px;
    padding-bottom: 65px;
  }

  .about p {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .about button {
    margin-top: 40px;
  }

  .categories li {
    width: 30.75%;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .categories li:nth-child(3n) {
    margin-right: 0px;
  }

  .categories li:nth-child(n + 4) {
    margin-bottom: 0px;
  }

  .categories li:nth-child(even) {
    float: left;
  }

  /* COUNTER */
  .counter {
    padding-top: 55px;
    padding-bottom: 85px;
  }
  .counter li {
    width: 25%;
    margin: 0;
  }
  .counter li:nth-child(even) {
    float: left;
  }

  /* GRAPHICS DESIGN */
  .graphics-design {
    padding: 65px 0px;
  }
  .graphics-design .video {
    float: right;
    width: 50%;
  }

  .graphics-design .heading p {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .graphics-design .text {
    width: 50%;
    float: left;
    padding: 0px;
  }

  .graphics-design ul li {
    margin: 40px 0px;
  }

  .graphics-design li i {
    width: 15%;
    font-size: 44px;
    margin-top: 3px;
  }

  .graphics-design li div {
    width: 85%;
  }

  /* EXAMPLES SECTION */
  .examples .gallery {
    margin: 80px 0px;
  }

  .examples .chevron-buttons {
    float: right;
  }

  .examples .banner-button button {
    margin: 0px;
  }

  /* TESTIMONIALS */
  .testimonials-content {
    margin: 55px 0px;
  }

  /* PARTNERS SECTION */
  .partners .partner {
    margin: 0px;
    width: 20%;
    float: left;
    vertical-align: middle;
  }

  /* OFFER SECTION */
  .offer form {
    margin: 0px;
  }

  .offer input {
    width: 73%;
    float: left;
    padding: 19px;
  }
  .offer button {
    margin: 0px;
    width: 25%;
    text-transform: uppercase;
    padding: 20px 50px;
  }

  /* FOOTER */
  footer .column input {
    padding: 20px;
  }

  footer .column button {
    padding: 20px;
  }
}
