* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rajdhani', sans-serif;
  color: #403d43;
  width: 100%;
  min-height: 100%;
}

.container {
  background-color: #73d6c3;
  padding: 95px;
  position: absolute;
  top: calc(50% - 271px);
  left: calc(50% - 402.5px);
}

.card-content {
  background-color: #ffffff;
  padding: 50px;
}

.card-content h1 {
  font-size: 36px;
}

.card-text {
  margin-right: 80px;
  padding: 30px 0px;
}

.header p {
  font-size: 24px;
}

.contact {
  margin-top: 15%;
  font-size: 18px;
}

.icons span {
  padding: 20px;
  border-radius: 50%;
  display: block;
  margin: 10px;
  background-color: #73d6c3;
  position: relative;
}

.icons img {
  height: 60px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}
