<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Users/bryan/Downloads/STATIC-ASSETS/2-content/_JOB-SEARCH/01-resumes/github-resume/resume-example/src/components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td><td>&nbsp;<a href="coverPhoto/right.html" target="rframe">coverPhoto</a></td><td>&nbsp;<a href="nav/right.html" target="rframe">nav</a></td><td>&nbsp;<a href="processBarsList/right.html" target="rframe">processBarsList</a></td></tr>
<tr class="row2"><td><a href="button/right.html" target="rframe">button</a></td><td>&nbsp;<a href="delay/right.html" target="rframe">delay</a></td><td>&nbsp;<a href="pageSlideEffect/right.html" target="rframe">pageSlideEffect</a></td><td>&nbsp;<a href="projects/right.html" target="rframe">projects</a></td></tr>
<tr><td><a href="columnImages/right.html" target="rframe">columnImages</a></td><td>&nbsp;<a href="evenodd/right.html" target="rframe">evenodd</a></td><td>&nbsp;<a href="polaroidImages/right.html" target="rframe">polaroidImages</a></td><td>&nbsp;<a href="resume/right.html" target="rframe">resume</a></td></tr>
<tr class="row2"><td><a href="contactComponent/right.html" target="rframe">contactComponent</a></td><td>&nbsp;<a href="imageBlurWrapper/right.html" target="rframe">imageBlurWrapper</a></td><td>&nbsp;<a href="processBars/right.html" target="rframe">processBars</a></td><td>&nbsp;<a href="waveSvg/right.html" target="rframe">waveSvg</a></td></tr>
<tr><td><a href="contentSection/right.html" target="rframe">contentSection</a></td><td>&nbsp;<a href="imageSection/right.html" target="rframe">imageSection</a></td><td></td><td></td></tr>
</table>
<br>

<p class="summary-style">
Folders:  18<br>
</p>

</body>
</html>