<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section 8/TLS/templates</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th></th><th></th><th></th><th></th></tr>
<tr><td><a href="accountCreate.html" >accountCreate.html</a>&nbsp;</td><td><a href="checksCreate.html" >checksCreate.html</a>&nbsp;</td><td><a href="index.html" >index.html</a>&nbsp;</td><td><a href="_footer.html" >_footer.html</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="accountDeleted.html" >accountDe...d.html</a>&nbsp;</td><td><a href="checksEdit.html" >checksEdit.html</a>&nbsp;</td><td><a href="sessionCreate.html" >sessionCreate.html</a>&nbsp;</td><td><a href="_header.html" >_header.html</a>&nbsp;</td></tr>
<tr><td><a href="accountEdit.html" >accountEdit.html</a>&nbsp;</td><td><a href="checksList.html" >checksList.html</a>&nbsp;</td><td><a href="sessionDeleted.html" >sessionDe...d.html</a>&nbsp;</td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 11<br>
Size of all files: 13921 KB</p>

</body>
</html>