:root {
  --font-family-heading: sans-serif;
  --font-family-body: Georgia, serif;
  --font-family-code: Menlo, Monaco, "Courier New", monospace;
  --color-primary: #835eff;
  --color-secondary: #ff008d;
  --color-safe: #8338ec;
  --color-gradient: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  --color-highlight: var(--color-primary);
  --color-gray-opacity: rgba(39, 39, 39, 0.04);
  --color-heading: #23231a;
  --color-text: #23231a;
  --background-default: #f9f9f9;
  --border-radius-default: 5px;
  --box-shadow-default: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  --transition-duration: 0.27s;
}
body.rtl {
  --font-family-body: Arial, Helvetica, sans-serif;
}
