<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/webdevhub-v2/Disorganized-Content/web-dev-archive/ciriculumn/week-15/ali/d2/practice/redux-fruit-stand-examples-master/fruit-stand-redux-with-react-containers/src/components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="Farmer.js" target="_parent">Farmer.js</a>&nbsp;</td><td><a href="FarmerManager.js" target="_parent">FarmerManager.js</a>&nbsp;</td><td><a href="FruitList.js" target="_parent">FruitList.js</a>&nbsp;</td><td><a href="FruitQuickAdd.js" target="_parent">FruitQuickAdd.js</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="FarmerHire.js" target="_parent">FarmerHire.js</a>&nbsp;</td><td><a href="FarmerManagerContainer.js" target="_parent">FarmerMan...ner.js</a>&nbsp;</td><td><a href="FruitManager.js" target="_parent">FruitManager.js</a>&nbsp;</td><td><a href="FruitSeller.js" target="_parent">FruitSeller.js</a>&nbsp;</td></tr>
<tr><td><a href="FarmerList.js" target="_parent">FarmerList.js</a>&nbsp;</td><td><a href="FruitBulkAdd.js" target="_parent">FruitBulkAdd.js</a>&nbsp;</td><td><a href="FruitManagerContainer.js" target="_parent">FruitMana...ner.js</a>&nbsp;</td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 11<br>
Size of all files: 6410 KB</p>

</body>
</html>