<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>_includes</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="3" class="header-row"><b>Folders</b></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/../right.html" target="rframe">&lt;parent&gt;</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/common/right.html" target="rframe">common</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/values/right.html" target="rframe">values</a></td></tr>
<tr class="row2"><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/2017/right.html" target="rframe">2017</a></td><td style="text-align: center"></td><td style="text-align: center"></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/about-the-site.html" target="_parent">about-th....html</a></td><td align="right">706</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/meta.html" target="_parent">meta.html</a></td><td align="right">3,149</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/site-header.html" target="_parent">site-header.html</a></td><td align="right">179</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/foot.html" target="_parent">foot.html</a></td><td align="right">618</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/polyfills.html" target="_parent">polyfills.html</a></td><td align="right">913</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/social-list.html" target="_parent">social-list.html</a></td><td align="right">1,126</td></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/head.html" target="_parent">head.html</a></td><td align="right">465</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_includes/right.html" target="_parent">right.html</a></td><td align="right">3,121</td><td></td><td></td></tr>
</table>

</body>
</html>