.carousel-container {
  width: 700px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.img-container {
  width: 2100px;
  position: absolute;
  z-index: 1;
}

.img-container::after {
  content: '';
  display: table;
  clear: both;
}

.carousel-item {
  float: left;
}

.carousel-item img {
  width: 700px;
}

.carousel-container .carousel-buttons button {
  font-size: 50px;
  font-weight: 900;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  padding: 10px;
  padding-bottom: 20px;
  line-height: 1;
}

.carousel-left-button {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 130px;
}

.carousel-right-button {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 130px;
}

.carousel-container .carousel-dots-container {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-container .carousel-dot {
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-shadow: 1px 1px 2px #000000;
  float: left;
  margin: 5px;
}

.carousel-container .carousel-dot:hover {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.carousel-dots-container .selected {
  background-color: rgba(255, 255, 255, 0.9);
}
