.container {
  max-width: 938px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header {
  width: 100%;
  height: 85px;
  background-color: #7dd9e8;
  padding: 0;
}

.main {
  margin-top: 28px;
}

.sidebar {
  display: none;
}

.sidebar-container {
  margin: 0 auto;
}

.main-content {
  width: 100%;
}

.right-sidebar {
  display: none;
}

.footer {
  margin-top: 30px;
  background-color: #727272;
  color: #f5f5f5;
  padding: 18px 0px;
}

@media (min-width: 768px) {
  .right-sidebar {
    display: block;
    height: 605px;
    width: 30%;
    background-color: #f5f5f5;
  }
}

@media (min-width: 992px) {
  .sidebar {
    display: block;
    width: 25%;
    height: 605px;
    background-color: #f5f5f5;
  }
  .right-sidebar {
    width: 18.86%;
  }
  .main-content {
    width: 71%;
    margin-left: 28px;
  }
}