* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 26px;
  font-family: Arial;
  margin-top: -6px;
}

h2 {
  font-size: 14px;
}

.posts h2:hover {
  color: #2f9eb1;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 12px;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.blue-text {
  color: #2f9eb1;
  font-weight: bold;
}

.green-text {
  color: #709720;
  font-weight: bold;
}

.red-text {
  color: #d53f1e;
  font-weight: bold;
}

.link:hover {
  cursor: pointer;
}

li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  border-bottom: 1px solid black;
}

.sidebar li a:hover, .right-sidebar li a:hover {
  border-bottom: none;
}