.logo-container .search-bar {
  display: none;
}

.user-info {
  display: none;
}

.logo-container {
  width: 50%;
}

.nav {
  background: #f5f5f5;
  padding: 12px 0px;
}

.nav .float-left li {
  display: inline-block;
}

.hamburger-menu {
  margin-right: 30px;
  margin-top: 28px;
}

.hamburger-menu img {
  height: 30px;
  width: 30px;
}

.hamburger-menu:hover, .hamburger-menu:active {
  cursor: pointer;
}

.menu-open {
  display: none;
}

.menu-opened .menu-open {
  display: block;
  height: 100vh;
  width: 70vw;
  position: absolute;
  right: 0;
  background-color: #f5f5f5;
  z-index: 10;
}

.menu-open img {
  height: 30px;
  margin: 30px;
}

.menu-opened .user-info {
  display: block;
  position: relative;
  top: 30px;
  z-index: 15;
  text-align: right;
}

.menu-opened .user-info li {
  list-style: none;
  display: inline-block;
  text-align: left;
  border-right: 1px solid black;
  padding-right: 10px;
}

.menu-opened .user-info li:last-child {
  border-right: none;
  padding-right: 0px;
}

.menu-opened .nav .notification {
  display: block;
  position: absolute;
  text-align: left;
  right: 70px;
  top: 150px;
  z-index: 16;
}

.menu-opened .nav .notification li {
  list-style-type: none;
  margin-top: 10px;
}

.menu-opened .search-bar {
  display: block;
  position: absolute;
  right: 70px;
  top: 100px;
  z-index: 16;
}

.menu-opened .search-bar button {
  width: 54px;
  height: 24px;
  font-weight: bold;
  border: none;
  font-size: 10px;
  color: white;
  background: #000000;
  border-radius: 10px;
}

.menu-opened .search-bar input {
  width: 200px;
  padding: 9px;
  border: none;
  height: 9px;
  background: #fff;
  border-radius: 27px;
  margin-right: 3px;
  color: #869497;
  font-size: 12px;
}

.nav-menu li {
  margin-right: 26px;
  margin-left: 11px;
}

.nav-menu li:hover {
  cursor: pointer;
}

.nav .notification {
  display: none;
}

.main ul li {
  list-style: none;
  padding: 10px 13px;
}

.main ul li:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.sidebar li span:first-child {
  width: 152px;
}

.list-heading {
  color: #ffffff;
  background-color: #2fc1da;
  padding: 12px 0px;
}

.list-heading h2 {
  font-size: 14px;
  margin-left: 13px;
}

.right-sidebar li {
  padding: 12px 0px;
}

.main-content .entries {
  margin-top: 6px;
}

.entries-nav {
  width: 100%;
  border-bottom: 2px solid #2fc1da;
}

.entries-nav-items {
  position: relative;
}

.entries-nav-items .heading {
  text-align: center;
  margin-top: 9px;
}

.left-nav {
  width: 257px;
  height: 66px;
  background: url('../images/Left-Rounded-Corner.png');
}

.right-nav {
  width: 257px;
  height: 66px;
  background: url('../images/Right-Rounded-Corner.png');
}

.nav-link-container {
  width: 238px;
  height: 28px;
  position: absolute;
  bottom: 0;
  left: 9px;
}

.nav-link {
  width: 115px;
  height: 28px;
  background: url('../images/Gray-button.png');
  font-weight: bold;
  position: relative;
}

.nav-link:hover {
  cursor: pointer;
  background: url('../images/Blue-button-hover.png');
  color: #ffffff;
}

.nav-link-container .active {
  background: url('../images/Blue-button.png');
  color: #ffffff;
}

.nav-link-container a {
  color: #000000;
  text-decoration: none;
}

.nav-link-container .active a {
  color: #ffffff;
  text-decoration: none;
}

.nav-link div {
  margin-top: 9px;
  text-align: center;
  font-size: 11px;
}

.post {
  width: 100%;
  height: 72px;
  padding: 14px 0px;
  border-bottom: 1px solid #d8d8d8;
}

.post a {
  text-decoration: none;
  color: #000000;
}

.post a:hover {
  border-bottom: 1px solid #000000;
}

.post div:first-child {
  margin-right: 8px;
}

.post p {
  font-size: 11px;
  margin: 2px 0px;
}

.post h2:hover {
  cursor: pointer;
}

.footer {
  font-size: 10px;
}

.footer ul li {
  display: inline-block;
}

.dots {
  margin: 0px 7px;
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  border-bottom: 1px solid #ffffff;
}

@media (min-width: 768px) {
  .logo-container {
    width: 582px;
  }
  .hamburger-menu {
    display: none;
  }
  .user-info {
    display: block;
    text-align: right;
    padding: 25px 0px;
  }
  .user-info p {
    margin-top: 4px;
    font-weight: bold;
  }
  .user-info ul li {
    display: inline-block;
    border-right: 2px solid black;
    padding: 0px 4px;
  }
  .user-info ul li:last-child {
    border: none;
    padding: 0;
  }
  .user-info span:hover {
    cursor: pointer;
  }
  .user-info {
    text-align: right;
    padding: 25px 0px;
  }
  .user-info p {
    margin-top: 4px;
    font-weight: bold;
  }
  .user-info ul li {
    display: inline-block;
    border-right: 2px solid black;
    padding: 0px 4px;
  }
  .user-info ul li:last-child {
    border: none;
    padding: 0;
  }
  .user-info span:hover {
    cursor: pointer;
  }
  .logo-container {
    width: 582px;
  }
  .logo-container .search-bar {
    display: block;
    margin-top: 32px;
  }
  .logo-container input {
    width: 262px;
    padding: 9px;
    border: none;
    height: 9px;
    background: #fff;
    border-radius: 27px;
    margin-right: 3px;
    color: #869497;
    font-size: 12px;
  }
  .search-bar button {
    width: 54px;
    height: 24px;
    font-weight: bold;
    border: none;
    font-size: 10px;
    color: white;
    background: #000000;
    border-radius: 10px;
  }
  .search-bar button:hover {
    cursor: pointer;
  }
  .nav .notification {
    display: block;
    font-size: 11px;
  }
  .notification li {
    margin: 0;
    display: inline-block;
  }
  .notification li:first-child {
    margin-right: 30px;
  }
  .notification img {
    margin-right: 5px;
  }
  .notification a:hover {
    border: none;
  }
  .notification span {
    display: none;
  }
}

@media (min-width: 992px) {
  .logo-container {
    width: 582px;
  }
  .logo-container .search-bar {
    display: block;
    margin-top: 32px;
  }
  .logo-container input {
    width: 262px;
    height: 12px;
    padding: 9px;
    border: none;
    background: url('../images/Search-Bar.png');
    background-repeat: no-repeat;
    background-position: center;
    color: #869497;
    font-size: 12px;
  }
  .search-bar button {
    width: 54px;
    height: 24px;
    font-weight: bold;
    border: none;
    font-size: 10px;
    /* padding: 10px; */
    color: white;
    background: url('../images/Search-Button.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .search-bar button:hover {
    cursor: pointer;
  }
  .notification span {
    display: inline;
  }
}