<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="3" class="header-row"><b>Folders</b></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/../right.html" target="rframe">&lt;parent&gt;</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/header/right.html" target="rframe">header</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/post/right.html" target="rframe">post</a></td></tr>
<tr class="row2"><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/entry/right.html" target="rframe">entry</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/icons/right.html" target="rframe">icons</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/posts-list/right.html" target="rframe">posts-list</a></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/error/right.html" target="rframe">error</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/link/right.html" target="rframe">link</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/preview/right.html" target="rframe">preview</a></td></tr>
<tr class="row2"><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/footer/right.html" target="rframe">footer</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/page/right.html" target="rframe">page</a></td><td style="text-align: center"></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/right.html" target="_parent">right.html</a></td><td align="right">3,959</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/icon.js" target="_parent">icon.js</a></td><td align="right">332</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components/seo.js" target="_parent">seo.js</a></td><td align="right">1,432</td></tr>
</table>

</body>
</html>