<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/misc/whatthefuck.is-main/whatthefuck.is-main/components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td><td>&nbsp;<a href="footer/right.html" target="rframe">footer</a></td><td>&nbsp;<a href="link/right.html" target="rframe">link</a></td><td>&nbsp;<a href="posts-list/right.html" target="rframe">posts-list</a></td></tr>
<tr class="row2"><td><a href="entry/right.html" target="rframe">entry</a></td><td>&nbsp;<a href="header/right.html" target="rframe">header</a></td><td>&nbsp;<a href="page/right.html" target="rframe">page</a></td><td>&nbsp;<a href="preview/right.html" target="rframe">preview</a></td></tr>
<tr><td><a href="error/right.html" target="rframe">error</a></td><td>&nbsp;<a href="icons/right.html" target="rframe">icons</a></td><td>&nbsp;<a href="post/right.html" target="rframe">post</a></td><td></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th></th><th></th><th></th><th></th></tr>
<tr><td><a href="icon.js" >icon.js</a>&nbsp;</td><td><a href="seo.js" >seo.js</a>&nbsp;</td></tr>
</table>

<p class="summary-style">
Folders:  11<br>
Files: 2<br>
Size of all files: 1694 KB</p>

</body>
</html>