<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="3" class="header-row"><b>Folders</b></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/base-directory-tree/src/components/../right.html" target="rframe">&lt;parent&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/base-directory-tree/src/components/right.html" >right.html</a></td><td align="right">2,779</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/base-directory-tree/src/components/AppItem.vue" >AppItem.vue</a></td><td align="right">2,615</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/base-directory-tree/src/components/AppNav.vue" >AppNav.vue</a></td><td align="right">2,616</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/base-directory-tree/src/components/AppArrow.vue" >AppArrow.vue</a></td><td align="right">920</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/base-directory-tree/src/components/AppLightmode.vue" >AppLightmode.vue</a></td><td align="right">871</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/base-directory-tree/src/components/AppNote.vue" >AppNote.vue</a></td><td align="right">703</td></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/base-directory-tree/src/components/AppDarkmode.vue" >AppDarkmode.vue</a></td><td align="right">1,060</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/base-directory-tree/src/components/AppMoreinfo.vue" >AppMoreinfo.vue</a></td><td align="right">2,348</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/3-misc/base-directory-tree/src/components/AppToggle.vue" >AppToggle.vue</a></td><td align="right">734</td></tr>
</table>

</body>
</html>