.main-container-wrapper {
  min-width: 1002px;
}

.container {
  width: 939px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 85px;
  background-color: #7dd9e8;
  padding: 0;
}

.main {
  margin-top: 28px;
}

.sidebar {
  width: 194px;
  height: 605px;
  background-color: #f5f5f5;
}

.sidebar-container {
  /* width: 168px; */
  margin: 0 auto;
}

.main-content {
  width: 518px;
  margin-left: 28px;
}

.right-sidebar {
  height: 605px;
  width: 177px;
  background-color: #f5f5f5;
}

.footer {
  margin-top: 30px;
  background-color: #727272;
  color: #f5f5f5;
  padding: 18px 0px;
}
