<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Lambda/CIRRICULUMN/lambda-backup-2/Lambda-Static/2-content/01_Questions/00-practice-questions/graduated-job_seeker-program/projects/bench_bnb_redux/solution/frontend/components/search</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="search_container.js" >search_co...ner.js</a>&nbsp;</td><td><a href="bench_index_item.jsx" >bench_ind...em.jsx</a>&nbsp;</td><td><a href="filter_form.jsx" >filter_form.jsx</a>&nbsp;</td><td><a href="search.jsx" >search.jsx</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="bench_index.jsx" >bench_index.jsx</a>&nbsp;</td><td></td><td></td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 5<br>
Size of all files: 3237 KB</p>

</body>
</html>