<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>partials</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="3" class="header-row"><b>Folders</b></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/../right.html" target="rframe">&lt;parent&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/right.html" target="_parent">right.html</a></td><td align="right">4,103</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/form.njk" target="_parent">form.njk</a></td><td align="right">1,101</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/navigation-tags.njk" target="_parent">navigati...s.njk</a></td><td align="right">478</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/analytics.njk" target="_parent">analytics.njk</a></td><td align="right">489</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/icon.njk" target="_parent">icon.njk</a></td><td align="right">572</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/search.njk" target="_parent">search.njk</a></td><td align="right">1,658</td></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/card.njk" target="_parent">card.njk</a></td><td align="right">697</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/navigation.njk" target="_parent">navigation.njk</a></td><td align="right">558</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/sidebar.njk" target="_parent">sidebar.njk</a></td><td align="right">526</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/examples.njk" target="_parent">examples.njk</a></td><td align="right">986</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/navigation-secondary.njk" target="_parent">navigati...y.njk</a></td><td align="right">518</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/icons.svg" target="_parent">icons.svg</a></td><td align="right">4,145</td></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials/favicons.njk" target="_parent">favicons.njk</a></td><td align="right">500</td><td></td><td></td><td></td><td></td></tr>
</table>

</body>
</html>