<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="3" class="header-row"><b>Folders</b></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/../right.html" target="rframe">&lt;parent&gt;</a></td><td style="text-align: center">&nbsp;<a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/__tests__/right.html" target="rframe">__tests__</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/right.html" target="_parent">right.html</a></td><td align="right">2,497</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/TabList.js" target="_parent">TabList.js</a></td><td align="right">702</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/Tabs.js" target="_parent">Tabs.js</a></td><td align="right">3,633</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/Tab.js" target="_parent">Tab.js</a></td><td align="right">2,192</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/TabPanel.js" target="_parent">TabPanel.js</a></td><td align="right">1,271</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/REACT/REPOS/react-tabs-master/src/components/UncontrolledTabs.js" target="_parent">Uncontro...bs.js</a></td><td align="right">10,366</td></tr>
</table>

</body>
</html>