<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>templates</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="3" class="header-row"><b>Folders</b></td></tr>
<tr><td style="text-align: center"><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/../right.html" target="rframe">&lt;parent&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th><th><b>File</b></th><th><b>Size</b></th></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/_footer.html" >_footer.html</a></td><td align="right">225</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/accountEdit.html" >accountEdit.html</a></td><td align="right">2,322</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/index.html" >index.html</a></td><td align="right">976</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/_header.html" >_header.html</a></td><td align="right">1,599</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/checksCreate.html" >checksCr....html</a></td><td align="right">2,616</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/right.html" >right.html</a></td><td align="right">3,895</td></tr>
<tr><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/accountCreate.html" >accountC....html</a></td><td align="right">1,202</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/checksEdit.html" >checksEdit.html</a></td><td align="right">3,887</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/sessionCreate.html" >sessionC....html</a></td><td align="right">675</td></tr>
<tr class="row2"><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/accountDeleted.html" >accountD....html</a></td><td align="right">166</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/checksList.html" >checksList.html</a></td><td align="right">456</td><td><a href="File://C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/BLOG/Javascript/nodeJS/Section%206/Using%20The%20Debugger/templates/sessionDeleted.html" >sessionD....html</a></td><td align="right">170</td></tr>
</table>

</body>
</html>