@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

@media only screen and (max-width:991px) {
	.banner-images img {
		width: 80%;
	}

	.about_image img {
		width: 80%;
	}

	.about_image:before {
		width: 95% !important;
		height: 100% !important;
		right: 13px !important;
		top: 10px !important;
	}

	.res_border_none {
		border: none !important;
	}

	.single_counter {
		margin-bottom: 50px;
	}

	.single_testimonial {
		margin-bottom: 30px !important;
	}

	.single_blog .post-content {
		margin-top: 30px;
	}

	.contact_widget_area {
		margin-left: 0 !important;
		margin-bottom: 30px;
	}

}

@media only screen and (max-width: 767px) {
	.main_menu {
		display: none;
	}

	.navbar-default .navbar-nav>li>a {
		color: #fff !important;
		font-size: 14px !important;
		padding: 0px 0px 10px 35px !important;
	}

	.navbar-default.menu-shrink li a {
		color: #fff !important;
		font-size: 14px !important;
	}

	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		color: #18FEFB !important;
		font-size: 14px !important;
	}

	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
		color: #18FEFB !important;
		background-color: transparent;
		font-size: 14px !important;
	}

	.mobile-nav {
		display: block !important;
	}

	.slicknav_btn {
		background: #18FEFB;
		border-radius: 0px;
		margin: 5px 0 0;
	}

	.slicknav_menu {
		display: block;
		background: transparent;
	}

	.slicknav_nav {
		color: #fff !important;
		margin: 0;
		padding: 0px 0;
		list-style: none;
		overflow: hidden;
		position: absolute;
		top: 75px;
		width: 350px;
		left: auto;
		right: -15%;
		background: #000;
		float: right;
		box-shadow: -1px 1px 1px rgba(20, 97, 255, 0.1);
	}

	.slicknav_btn {
		text-decoration: none;
		text-shadow: none;
		border-radius: 0;
		background-color: transparent;
	}

	.slicknav_menu .slicknav_icon-bar {
		width: 28px;
		height: 3px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0;
		-webkit-box-shadow: 0;
		-moz-box-shadow: 0;
		box-shadow: 0;
	}

	.navbar-default.menu-shrink .slicknav_menu .slicknav_icon-bar {
		background: #fff;
	}

	.navbar-brand p {
		font-size: 25px !important;
	}

	.section_heading h2 {
		font-size: 35px !important;
	}

	.section_heading p {
		font-size: 14px !important;
	}

	.banner_content strong {
		font-size: 25px !important;
	}

	.banner_content h1 {
		font-size: 40px !important;
	}

	.banner_content p {
		font-size: 13px !important;
	}

	.about_image {
		text-align: center;
	}

	.about_image:before {
		display: none !important;
	}

	.about_content_area {
		margin-top: 50px;
	}

	.border_left {
		border-left: none !important;
	}

	.owl-nav {
		display: none;
	}

	.cta_content h3 {
		font-size: 22px !important;
		margin-bottom: 0px !important;
	}

	.footer {
		text-align: center;
	}

	.footer .social-link {
		float: inherit !important;
		padding-left: 0;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 480px) {
	.banner_content strong {
		font-size: 20px !important;
	}

	.banner_content h1 {
		font-size: 25px !important;
	}
}
