html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
:focus:not([data-focusvisible-polyfill]) {
  outline: 0;
}
.css-4rbku5 {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: inherit;
  text-decoration: none;
}
.css-1dbjc4n {
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: auto;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-basis: auto;
  -webkit-flex-direction: column;
  -webkit-flex-shrink: 0;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  min-height: 0;
  min-width: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: relative;
  z-index: 0;
}
.css-901oao {
  border: 0 solid #000;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
  display: inline;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.css-vcwn7f {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.css-16my406 {
  color: inherit;
  font: inherit;
  white-space: inherit;
}
.css-cens5h {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.r-13awgt0 {
  -ms-flex: 1 1 0%;
  -webkit-flex: 1;
  flex: 1;
}
.r-42olwf {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
.r-rs99b7 {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
}
.r-z2wwpe {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.r-18c69zk {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.r-1fdo3w0 {
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}
.r-1xc7w19 {
  border-bottom-color: rgba(0, 0, 0, 1);
  border-left-color: rgba(0, 0, 0, 1);
  border-right-color: rgba(0, 0, 0, 1);
  border-top-color: rgba(0, 0, 0, 1);
}
.r-1phboty {
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
}
.r-1yadl64 {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}
.r-6koalj {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.r-crgep1 {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.r-t60dpp {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.r-156hn8l {
  border-bottom-color: rgba(211, 220, 228, 1);
  border-left-color: rgba(211, 220, 228, 1);
  border-right-color: rgba(211, 220, 228, 1);
  border-top-color: rgba(211, 220, 228, 1);
}
.r-1udh08x {
  overflow-x: hidden;
  overflow-y: hidden;
}
.r-d23pfw {
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
.r-hvic4v {
  display: none;
}
.r-1jwulwa {
  overflow-x: scroll;
  overflow-y: scroll;
}
.r-1agqqt {
  border-bottom-color: rgba(38, 203, 124, 1);
  border-left-color: rgba(38, 203, 124, 1);
  border-right-color: rgba(38, 203, 124, 1);
  border-top-color: rgba(38, 203, 124, 1);
}
.r-xoduu5 {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.r-1471scf {
  display: inline;
}
.r-d045u9 {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
}
.r-190qawg {
  border-bottom-color: rgba(227, 232, 237, 1);
  border-left-color: rgba(227, 232, 237, 1);
  border-right-color: rgba(227, 232, 237, 1);
  border-top-color: rgba(227, 232, 237, 1);
}
.r-nsbfu8 {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}
.r-ymttw5 {
  padding-left: 16px;
  padding-right: 16px;
}
.r-mk0yit {
  padding-left: 0;
  padding-right: 0;
}
.r-1e081e0 {
  padding-left: 12px;
  padding-right: 12px;
}
.r-1pn2ns4 {
  padding-left: 8px;
  padding-right: 8px;
}
.r-c8eef1 {
  margin-bottom: 8px;
  margin-top: 8px;
}
.r-1yzf0co {
  padding-bottom: 16px;
  padding-top: 16px;
}
.r-5njf8e {
  padding-bottom: 8px;
  padding-top: 8px;
}
.r-1f1sjgu {
  padding-bottom: 12px;
  padding-top: 12px;
}
.r-oyd9sg {
  padding-bottom: 4px;
  padding-top: 4px;
}
.r-pw2am6 {
  margin-bottom: 24px;
  margin-top: 24px;
}
.r-1h4fu65 {
  padding-bottom: 24px;
  padding-top: 24px;
}
.r-1guathk {
  padding-left: 24px;
  padding-right: 24px;
}
.r-1r5su4o {
  margin-bottom: 16px;
  margin-top: 16px;
}
.r-12vffkv > * {
  pointer-events: auto;
}
.r-12vffkv {
  pointer-events: none !important;
}
.r-14lw9ot {
  background-color: rgba(255, 255, 255, 1);
}
.r-1d9grui {
  border-bottom-color: rgba(211, 220, 228, 1);
}
.r-qklmqi {
  border-bottom-width: 1px;
}
.r-1i7sdiz {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.r-18u37iz {
  -ms-flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.r-1awozwy {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.r-eafdt9 {
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.r-1i6wzkk {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.r-lrvibr {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.r-1loqt21 {
  cursor: pointer;
}
.r-1otgn73 {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.r-18kxxzh {
  -ms-flex-positive: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.r-1777fci {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.r-1ny4l3l {
  outline-style: none;
}
.r-eu3ka {
  height: 40px;
}
.r-1bnj018 {
  color: rgba(92, 105, 117, 1);
}
.r-1kb76zh {
  margin-right: 8px;
}
.r-1aockid {
  width: 40px;
}
.r-h7gdob {
  color: currentColor;
}
.r-11vxtcu {
  background-color: rgba(211, 220, 228, 1);
}
.r-92ng3h {
  width: 1px;
}
.r-1ro0kt6 {
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0%;
  flex-basis: 0%;
}
.r-16y2uox {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.r-1wbh5a2 {
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.r-1habvwh {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
}
.r-puj83k {
  padding-left: 24px;
}
.r-1pyaxff {
  padding-right: 8px;
}
.r-mabqd8 {
  height: 32px;
}
.r-1jkjb {
  margin-left: 8px;
}
.r-gg6oyi {
  font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
}
.r-1b43r93 {
  font-size: 14px;
}
.r-majxgm {
  font-weight: 500;
}
.r-hbpseb {
  line-height: 22px;
}
.r-homxoj {
  color: inherit;
}
.r-1yvhtrz {
  width: 32px;
}
.r-1vu8cp1 {
  background-color: rgba(243, 245, 246, 1);
}
.r-g8m1yf {
  border-right-color: rgba(211, 220, 228, 1);
}
.r-13l2t4g {
  border-right-width: 1px;
}
.r-17s6mgv {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.r-1ipicw7 {
  width: 300px;
}
.r-eqz5dr {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.r-4dj0k7 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}
.r-sga3zk {
  height: 64px;
}
.r-1kihuf0 {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.r-ubezar {
  font-size: 16px;
}
.r-16dba41 {
  font-weight: 400;
}
.r-135wba7 {
  line-height: 24px;
}
.r-109y4c4 {
  height: 1px;
}
.r-150rngu {
  -webkit-overflow-scrolling: touch;
}
.r-11yh6sk {
  overflow-x: hidden;
}
.r-1rnoaur {
  overflow-y: auto;
}
.r-1sncvnh {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.r-10ptun7 {
  height: 16px;
}
.r-bnwqim {
  position: relative;
}
.r-5dsqua {
  top: -16px;
}
.r-13qz1uu {
  width: 100%;
}
.r-1uwl36a {
  background-color: rgba(233, 237, 242, 1);
}
.r-1rasi3h {
  color: rgba(136, 153, 168, 1);
}
.r-1mnahxq {
  margin-top: 0;
}
.r-1qhn6m8 {
  padding-left: 16px;
}
.r-nwxazl {
  line-height: 40px;
}
.r-b88u0q {
  font-weight: 700;
}
.r-howw7u {
  color: rgba(255, 0, 0, 1);
}
.r-8jnfel {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
}
.r-1q77oe7 {
  background-color: rgba(171, 183, 202, 1);
}
.r-key0ze {
  height: 240px;
}
.r-1ygmrgt {
  padding-top: 24px;
}
.r-1peese0 {
  margin-bottom: 24px;
}
.r-1nf4jbm {
  color: rgba(59, 69, 78, 1);
}
.r-1xnzce8 {
  -moz-user-select: -webkit-text;
  -moz-user-select: text;
  -ms-user-select: -webkit-text;
  -ms-user-select: text;
  -webkit-user-select: -webkit-text;
  -webkit-user-select: text;
  user-select: -webkit-text;
  user-select: text;
}
.r-1wzrnnt {
  margin-top: 16px;
}
.r-nzcix3 {
  border-bottom-color: rgba(227, 232, 237, 1);
}
.r-11c0sde {
  margin-top: 24px;
}
.r-1dqbpge {
  cursor: -webkit-text;
  cursor: text;
}
.r-1d2f490 {
  left: 0;
}
.r-u8s1d {
  position: absolute;
}
.r-zchlnj {
  right: 0;
}
.r-1sdbnja {
  top: -40px;
}
.r-1oszu61 {
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.r-deolkf {
  box-sizing: border-box;
}
.r-1mlwlqe {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.r-1q142lx {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.r-ifefl9 {
  min-height: 0;
}
.r-bcqeeo {
  min-width: 0;
}
.r-417010 {
  z-index: 0;
}
.r-fdjqy7 {
  text-align: left;
}
.r-1m04atk {
  padding-left: 8px;
}
