* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-screen {
  width: 432px;
  height: 768px;
  position: relative;
}

.start-screen,
.end-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-image: url('../images/background.png');
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-screen {
  display: none;
}

.start-screen div {
  margin: 30px 0;
}

.title img {
  width: 150px;
}

.tutorial img {
  width: 100px;
}

#start,
#restart {
  width: 80px;
  cursor: pointer;
}

canvas {
  z-index: 1;
  position: absolute;
}
