<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Users/bryan/Downloads/STATIC-ASSETS/2-resources/cheatsheets-master/_sass/2017/components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th></th><th></th><th></th><th></th></tr>
<tr><td><a href="announcements-item.scss" >announcem...m.scss</a>&nbsp;</td><td><a href="h3-section-list.scss" >h3-sectio...t.scss</a>&nbsp;</td><td><a href="notice-box.scss" >notice-box.scss</a>&nbsp;</td><td><a href="related-posts-callout.scss" >related-p...t.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="announcements-list.scss" >announcem...t.scss</a>&nbsp;</td><td><a href="h3-section.scss" >h3-section.scss</a>&nbsp;</td><td><a href="page-actions.scss" >page-actions.scss</a>&nbsp;</td><td><a href="related-posts-group.scss" >related-p...p.scss</a>&nbsp;</td></tr>
<tr><td><a href="attribute-peg.scss" >attribute-peg.scss</a>&nbsp;</td><td><a href="headline-pub.scss" >headline-pub.scss</a>&nbsp;</td><td><a href="pages-list.scss" >pages-list.scss</a>&nbsp;</td><td><a href="related-posts-section.scss" >related-p...n.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="back-button.scss" >back-button.scss</a>&nbsp;</td><td><a href="hint-mark.scss" >hint-mark.scss</a>&nbsp;</td><td><a href="pre-footer.scss" >pre-footer.scss</a>&nbsp;</td><td><a href="search-box.scss" >search-box.scss</a>&nbsp;</td></tr>
<tr><td><a href="body-area.scss" >body-area.scss</a>&nbsp;</td><td><a href="home-button.scss" >home-button.scss</a>&nbsp;</td><td><a href="push-button.scss" >push-button.scss</a>&nbsp;</td><td><a href="search-footer.scss" >search-footer.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="comments-area.scss" >comments-area.scss</a>&nbsp;</td><td><a href="intro-content.scss" >intro-content.scss</a>&nbsp;</td><td><a href="related-post-item.scss" >related-p...m.scss</a>&nbsp;</td><td><a href="site-header.scss" >site-header.scss</a>&nbsp;</td></tr>
<tr><td><a href="comments-details.scss" >comments-...s.scss</a>&nbsp;</td><td><a href="main-heading.scss" >main-heading.scss</a>&nbsp;</td><td><a href="related-post-list.scss" >related-p...t.scss</a>&nbsp;</td><td><a href="top-nav.scss" >top-nav.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="comments-section.scss" >comments-...n.scss</a>&nbsp;</td><td><a href="missing-message.scss" >missing-m...e.scss</a>&nbsp;</td><td><a href="related-posts-area.scss" >related-p...a.scss</a>&nbsp;</td><td><a href="top-sheet.scss" >top-sheet.scss</a>&nbsp;</td></tr>
<tr><td><a href="h2-section.scss" >h2-section.scss</a>&nbsp;</td><td></td><td></td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 33<br>
Size of all files: 31983 KB</p>

</body>
</html>